
ion-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.img {
    background-image: url('../../assets/img/TRIVIA22.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con opacidad */
  }
  